<div class="<%= local_assigns[:css_message] %> message-container " id="message-<%= message.id %>" data-sender-id="<%= message.sender_id %>">
  <div class="<%= local_assigns[:css_msg] %> " >
    <!--  <small><#%= message.created_at.strftime("%b %e at %l:%M%p") %></small><br>-->
    <% if message.attachment.present? %>
      <%= cl_image_tag message.attachment.key, height: 160, width: 160, crop: :fill, onclick: 'preview(this)' %>
      <a href="<%= cl_image_path(message.attachment.key) %>" target="_blank" download><i class="fas fa-cloud-download-alt"></i></a>
    <% end %>
    <br>
    <%= message.content %>
  </div>
</div>
<!--
<%#= message.download_link %>
      <%#= link_to("Download", cl_private_download_url("my_private_image", :jpg, :attachment => true)) %>
      <%#= link_to 'download', rails_blob_path(message, disposition: 'attachment') %>

<a href="<%#= message.attachment %>" download="image" >
</a>
  cl_image_path(message.attachment)-->
  <div id='d'></div>

<script>
  function preview(_this) {
    console.log(_this.src);
    const dwnl = `<a href='${_this.src} download='image'><i class="fas fa-cloud-download-alt"></i></a>`;
    console.log(dwnl);

    if(_this.classList.contains('prev')) {
      _this.classList.remove('prev');
    } else {
      _this.classList.add('prev');
    }
  }
</script>

<style>
  .prev {
    position:absolute;
    top:24%;
    left:50%;
    transform:translate(-50%, 0);
    width:100%;
    height:70%;
  }
</style>
