<div class="<%= local_assigns[:css_message] %> message-container " id="message-<%= message.id %>" data-sender-id="<%= message.sender_id %>">
  <ul>
    <div style='margin-top: -20px; font-weight: 200; font-size: 10px; padding-left: 4px; text-align: right;'>
      <%= message.date_display %>
    </div>
    <div class="<%= local_assigns[:css_msg] %> " >
      <div style=''>
      <% if message.attachment.present? %>
        <%= cl_image_tag message.attachment.key, width: 220, crop: :fit, class: 'imgs', style: 'box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);' %>
        <br>
      <% end %>
      <%= message.content %>
      </div>
    </div>
  </ul>
</div>
