<div class="<%= local_assigns[:css_message] %> message-container " id="message-<%= message.id %>" data-sender-id="<%= message.sender_id %>">
  <div class="<%= local_assigns[:css_msg] %> " >
    <!--  <small><#%= message.created_at.strftime("%b %e at %l:%M%p") %></small><br>-->
    <%= message.content %>
  </div>
</div>
