<div class="<%= local_assigns[:css_message] %> message-container " id="message-<%= message.id %>" data-sender-id="<%= message.sender_id %>">
  <div class="<%= local_assigns[:css_msg] %> " >
    <!--  <small><#%= message.created_at.strftime("%b %e at %l:%M%p") %></small><br>-->
    <div style=''>
    <% if message.attachment.present? %>
      <%= cl_image_tag message.attachment.key, width: 220, crop: :fit, onclick: 'preview(this)' %>
      <br>
    <% end %>

    <%= message.content %>
    </div>
  </div>
</div>

<div id='prevDiv' onclick='hideThis(this)'></div>
<script>
  function preview(_this) {
    console.log(_this.src);
    const prevDiv = document.getElementById('prevDiv');

    if(prevDiv.hasChildNodes()) {
      prevDiv.removeChild(prevDiv.childNodes[0]);
    } else {
      const img = document.createElement('img');
      img.src = _this.src;
      img.classList.add('prev');
      prevDiv.appendChild(img);
    }
  }

  function hideThis(_this) {
    _this.removeChild(_this.childNodes[0]);
  }
</script>

