<div class="container" style="background-color: #E5E5E5; padding-top: 16px !important;">
  <div style="margin: 16px; text-align: center; color: #fff; font-weight: 600;">
    <h3>Create Account!</h3>
    <p style="color: #000;">Create a new account</p>
    <hr style="width: 95%; text-align: left; margin-left: 0;">
  </div>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Your Name " %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Your Email",
                  input_html: { autocomplete: "email" } %>
                  <br>
      <%= f.input :about_me,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "About Yourself" %>
      <%= f.input :interests,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Interests" %>
      <%= f.input :profile_photo,
                  as: :file,
                  required: true,
                  autofocus: true,
                  input_html: { class: 'custom-file-input'},
                  label_html: { class: 'custom-file-label' },
                  wrapper_html: { class: 'custom-file' } %>

      <div id="previewAvatar" class='my-3'></div>

      <%= f.input :bike_photo,
                  as: :file,
                  required: true,
                  autofocus: true,
                  input_html: { class: 'custom-file-input'},
                  label_html: { class: 'custom-file-label' },
                  wrapper_html: { class: 'custom-file' } %>

      <div id="previewBike" class='my-3'></div>

      <%= f.input :password,
                  required: true,
                  hint: ("Must have at least #{@minimum_password_length} characters" if @minimum_password_length),
                  label: false,
                  placeholder: "Password",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: false,
                  placeholder: "Password confiramtion",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.hidden_field :last_seen,
                  :value => DateTime.now %>
                  <br>
    </div>
    <div class="form-actions" style="text-align: center;">
      <%= f.button :submit, "Create account", style: "background-color: #FDE8CD; padding: 8px 55px; border-radius: 16px; color: #000; font-weight: 400; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
    </div>
  <% end %>
  <br>
  <p style="text-align: center; color: #fff !important;"> Already have an account? <%= render "devise/shared/links"%><br />
</div>
