<div class="container" style="background-color: #00917C;">
  <h3 style="text-align: center; color: #fff;">Create Account!</h3>
  <p style="text-align: center;">Create a new account</p>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, 
                  required: true, 
                  autofocus: true,
                  label: false,
                  placeholder: "Your Name " %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Your Email",
                  input_html: { autocomplete: "email" } %>
      <%= f.input :about_me, 
                  required: true, 
                  autofocus: true,
                  label: false,
                  placeholder: "About Yourself" %>
                  <br>
      <%= f.input :interests,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Interests" %>
      <%= f.input :profile_photo,
                  as: :file,
                  required: true,
                  autofocus: true %>
      <%= f.input :bike_photo,
                  as: :file,
                  required: true,
                  autofocus: true  %>
                  <br>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  label: false,
                  placeholder: "Password",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: false,
                  placeholder: "Password confiramtion",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.hidden_field :last_seen,
                  :value => DateTime.now %>
                  <br>
    </div>
    <div class="form-actions" style="text-align: center;">
      <%= f.button :submit, "Create account", style: "background-color: #FDE8CD; padding: 8px 55px; border-radius: 16px; color: #000; font-weight: 400; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
    </div>
  <% end %>
  <br>
  <p style="text-align: center; color: #fff !important;"> Already have an account? <%= render "devise/shared/links", style:"font-weight: 600;" %><br />
</div>
