<%
if c.user_present(current_user)
  if c.opposed_user(current_user).online?
    present_color = '#00917C;'
  else
    present_color = '#aaa;'
  end
end
%>

<% if c.messages.present? %>
<!-- action: 'Messages' -->
  <% new_msg = Notification.where(read: false, action: 'Message', action_id: c.id, user: current_user) + Notification.where(read: false, action: 'Messages', action_id: c.id, user: current_user)
     msg_link =  new_msg.present? ? new_msg.first.link : "/conversations/#{c.id}#message-#{c.messages.last.id}" %>
<% else %>
  <% msg_link = "/conversations/#{c.id}" %>
<% end %>

<%= link_to "#{msg_link}", class: 'myLink' do %>
  <div class="chat">
    <div class="row chat-wrapper">
      <div class="col-md-4">
        <div class="compose-area">
          <div class="chat-list-wrapper" style="overflow-y: auto; width: auto;">
            <ul class="chat-list">
              <li class="new" style='padding-top: 8px;'>
                <span class="pic">
                  <% if c.user_present(current_user) %>
                    <%= cl_image_tag c.opposed_user(current_user).profile_photo.key, height: 60, width: 60, crop: :fill, style: "border-radius: 50%; border: 2px solid #fff;" %>
                  <% else %>
                    <p style="background-color: #fff; text-align: center; font-size: 34px; height: 60px; width: 60px; color: #ccc; border-radius: 50%; border: 2px solid #ccc;">
                      <i class="fas fa-user"></i>
                    </p>
                  <% end %>
                </span>
                <div class="body">
                  <div class="header">
                    <% if c.user_present(current_user) %>
                      <span class="username" id="last-online"><%= c.opposed_name(current_user) %> <i class='fas fa-circle' style="color:<%= present_color %>"></i></span>
                    <% else %>
                      <span style='font-weight: 600;'><%= c.opposed_name(current_user) %><small> (Deleted profile)</small></span>
                      <% end %>
                    <% if new_msg && new_msg.size.positive? %>
                      <% num = new_msg.last.content.match?(/\d+/) ? new_msg.last.content.match(/\d+/)[0] : new_msg.size %>
                      <span class='circle2' style=''><%= num %></span>
                    <% end %>

                    <small class="timestamp">
                      <% if new_msg && new_msg.size.positive? %>
                        <%= new_msg.last.date_display %>
                      <% elsif c.messages.present? %>
                        <%= c.messages.last.date_display %>
                      <% else %>
                        <%= c.created_at.to_date %>
                      <% end %>
                    </small>
                  </div>

                  <% if c.messages.present? %>
                    <% if new_msg && new_msg.length.positive? %>
                      <% msg_display = Message.find(new_msg.first.link.match(/\d+$/)[0]) %>
                      <% if msg_display.content.present? %>
                        <p style="font-weight: 600;"><%= msg_display.content[0..35] %></p>
                        <% else %>
                        <p style="font-weight: 600;">** Attachment **</p>
                      <% end %>
                    <% else %>
                      <% if c.messages.last.content.present? %>
                        <p style="font-weight: 600;"><%= c.messages.last.content[0..35] %></p>
                      <% else %>
                        <p style="font-weight: 600;">** Attachment **</p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p style="font-weight: 300;">Start conversation!</p>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
