<div style="margin: -1px !important">
  <% if @conversations.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
      <p style="font-size: 60px;"><i class="far fa-comments"></i></p>
      <h6>No Messeges Yet!</h6>
      <br>
      <p style="color: rgba(14, 0, 0, 0.38);">Get or send a messege and it shows up here!</p>
      <br>
      <%= link_to "Home", rides_path, style: "background-color: #433520; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
    </div>
  <% else %>

    <% @conversations.each do |c| %>
      <div>
        <%
          if c.opposed_user(current_user).online?
            present_color = '#00917C;'
          else
            present_color = '#aaa;'
          end
        %>
      </div>

      <%= link_to conversation_path(c, anchor: "message-#{c.messages.last.id}"), class: 'myLink' do %>
        <div class="chat">
          <div class="row chat-wrapper">
            <div class="col-md-4">
              <div class="compose-area">
                <div class="chat-list-wrapper" style="overflow-y: auto; width: auto;">
                  <ul class="chat-list">
                    <li class="new">
                    <span class="pic">
                      <%= cl_image_tag c.opposed_user(current_user).profile_photo.key, height: 60, width: 60, crop: :fill, style: "border-radius: 50%; border: 2px solid #fff;" %>
                    </span>
                    <div class="body">
                      <div class="header">
                        <span class="username" id="last-online"><%= c.opposed_user(current_user).name %> <i class='fas fa-circle' style="color:<%= present_color %>"></i></span>
                        <% new_msg = Notification.where(read: false, action: 'Message', action_id: c.id, user: current_user).size %>
                        <span style='padding-left: 8px;'><%= new_msg unless new_msg.zero? %></span>
                        <small class="timestamp"><%= c.messages.last.created_at.to_date %></small>
                      </div>
                      <p style="font-weight: 600;"><%= c.messages.last.content[0..35] %></p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
