
<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <!-- anchor-->
  <% if @conversation.messages.present? %>
    <%= link_to '<<', conversation_path(@conversation, anchor: "message-#{@conversation.messages.last.id}"), class: 'back-link' %>
  <% else %>
    <%= link_to '<<', conversation_path(@conversation), class: 'back-link' %>
  <% end %>
</div>

<div class='' style='padding-top: 24px; max-height: 98vh;'>

  <%if @media.blank? %>
    <p style="text-align: center;">Nothing shared!</p>
  <% else %>
    <div class='scroll-box' style='padding: 12px 0 0 0; margin: 0;'>
      <% @media.each do |m| %>
        <div style='background-color: #fff; border-radius: 16px; border: 1px solid #efefef; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; margin-bottom: 10px;'>
          <p style='background: #efefef; padding-left: 12px; font-weight: 500; border-top-left-radius: 8px; border-top-right-radius: 8px;'>
            <%= m[0].year < Date.current.year ? m[0].strftime("%Y, %^B") : m[0].strftime("%^B") %>
          </p>

          <div class='container' style='margin-top:0; padding-top:0; text-align: center;'>
            <div class='row' style='margin: 0 auto; margin-bottom: 16px;'>
              <% m[1].each do |media| %>
                <div class='col' style='width: 70px; height: 70px; padding-left: 0px;'>
                  <%= cl_image_tag media.attachment.key, width: 70, height: 70, crop: :fill, class:'imgs', style: 'padding: 2px;' %>
                  <%  p = cl_image_path(media.attachment.key).split(/upload/)
                    d_link = p[0] + 'upload/fl_attachment' + p[1]
                  %>
                  <a href="<%= d_link %>" style="position: relative; left:56%; top: -24px; margin:0;">
                    <i class="fas fa-arrow-circle-down" style="font-size: 12px; border-radius: 50%; background-color: #696969; box-shadow: 0px 0px 5px 3px rgb(0, 0, 0, 38%);"></i>
                  </a>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
<!--
  <div class='row'>
      <div class="col">
        <h6>Sent (<#%= @media_sent.count %>)</h6>
      </div>
      <div class="col">
        <h6>Received (<#%= @media_received.count %>)</h6>
      </div>
  </div>

  <div class="row">
    <div class="col media-box media-sent">
      <#% @media_sent.each do |media| %>
        <#%= cl_image_tag media.attachment.key, width: 120, crop: :fit, style: 'padding: 8px;' %>
      <#% end %>
    </div>

    <div class="col media-box media-received">
      <#% @media_received.each do |media| %>
        <#%= cl_image_tag media.attachment.key, width: 120, crop: :fit, style: 'padding: 8px;' %>
      <#% end %>
    </div>
  </div>
-->
</div>

<div id='prevDiv' style='width: 220px;'></div>
