<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <!-- anchor-->
  <% my_link = @conversation.messages.present? ? conversation_path(@conversation.id, anchor: "message-#{@conversation.messages.last.id}") : conversation_path(@conversation.id) %>
  <%= link_to '<<', my_link, class: 'back-link' %>
</div>
<% if @conversation.messages.present? %>
  <div style='width: 313px; text-align: center; padding-top: 24px;'>
    <%= form_tag search_messages_conversation_path, class: "form-inline", method: :get do %>
      <div id='search-msgs-data' class='search-input-container' data-messages="<%= @autocomplete %>">
        <i id="search-conversation-btn" class="fas fa-search"></i>
         <%= text_field_tag :query,
          params[:query],
          autocomplete: :off,
          id: 'mySearch',
          placeholder: "Search"
        %>
      </div>
      <%= submit_tag "Search", id: 'mySubmit', style: 'display: none;' %>
    <% end %>
  </div>
  <% if @messages.blank? %>
    <div style="margin-left: 8px; color: rgba(14, 0, 0, 0.38); font-size: 14px;">
      <p><i class="far fa-frown-open"></i> Sorry, no results found for '<%= @query %>'</p>
    </div>
  <% end %>

  <!-- scroll to last msg here -->
    <div class="message" id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>" style='height: 86vh;'>
      <% @messages.each do |message| %>
        <% if message.sender_id == current_user.id %>
          <%= render 'messages/message', message: message, css_message: 'message-sent', css_msg: 'msg-sent' %>
        <% else %>
          <%= render 'messages/message', message: message, css_message: 'message-received', css_msg: 'msg-received' %>
        <% end %>
      <% end %>
    </div>

  <script>
    document.addEventListener('turbolinks:load',function(event) {
      // scroll to matching element in hash
      if(window.location.hash) {
        console.log(window.location.hash);
        el = document.querySelector(window.location.hash);
        if(el){
          el.scrollIntoView(false);
        }
      } else {
        msgBox = document.getElementById("messages");
        if(msgBox){
          el = msgBox.lastElementChild;
          if(el) {
            el.scrollIntoView(false);
            msgBox.scrollTop += 24;
          }
        }
      }
    });
  </script>
<% else %>
  <p style='text-align:center; padding: 44px 0px;'>No messages in this chat!</p>
<% end %>

