<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <!-- anchor-->
  <% my_link = @conversation.messages.present? ? conversation_path(@conversation.id, anchor: "message-#{@conversation.messages.last.id}") : conversation_path(@conversation.id) %>
  <%= link_to '<<', my_link, class: 'back-link' %>
</div>

<h5 style='text-align: center; padding-top: 24px;'>You and <%= @conversation.opposed_user(current_user).name %></h5>

<div style='width: 313px;'>
  <%= form_tag search_messages_conversation_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control m-3",
        id: 'mySearch',
        placeholder: "Search messages"
    %>
    <% submit_tag "Search", id: 'mySubmit' %>
  <% end %>
</div>
<% if @messages.blank? %>
  <!-- style this -->
  <div><%= @query %> not found </div>
<% end %>

<!-- scroll to last msg here -->
  <div class="message" id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">
    <% @messages.each do |message| %>
      <% if message.sender_id == current_user.id %>
        <%= render 'messages/message', message: message, css_message: 'message-sent', css_msg: 'msg-sent' %>
      <% else %>
        <%= render 'messages/message', message: message, css_message: 'message-received', css_msg: 'msg-received' %>
      <% end %>
    <% end %>
  </div>

<script>
$(document).on('turbolinks:load',function(event) {
  // scroll to matching element in hash
  if(window.location.hash) {
    console.log(window.location.hash);
    el = document.querySelector(window.location.hash);
    if(el){
      el.scrollIntoView(false);
    }
  }
});
</script>
