<div class="navbar fixed-top navbar-expand-sm navbar-light" style='padding: 0 22px; right: -2%;'>
  <!-- anchor-->
  <% my_link = @conversation.messages.present? ? conversation_path(@conversation.id, anchor: "message-#{@conversation.messages.last.id}") : conversation_path(@conversation.id) %>
  <%= link_to '<<', my_link, class: 'back-link' %>
</div>
<% if @conversation.messages.present? %>
  <div style='width: 313px; text-align: center; padding-top: 24px;'>
    <%= form_tag search_messages_conversation_path, class: "form-inline", method: :get do %>
      <div id='search-msgs-data' class='search-input-container <%= current_user.account.theme %>' data-messages="<%= @autocomplete %>">
        <i id="search-conversation-btn" class="fas fa-search"></i>
         <%= text_field_tag :query,
          nil,
          autocomplete: :off,
          id: 'mySearch',
          class: "mySearch #{current_user.account.theme}",
          placeholder: "Search"
        %>
      </div>
      <%= submit_tag "Search", id: 'mySubmit', style: 'display: none;' %>
    <% end %>
  </div>
  <% if @messages.blank? %>
    <div class="q-msg <%= current_user.account.theme %>">
      <p style='margin-top: 0.7rem;'><i class="far fa-frown-open"></i> Sorry, no results found for '<%= @query %>'</p>
    </div>
  <% end %>

    <div class="message" id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>" style='height: 86vh;'>
      <% @messages.each do |message| %>
        <% if message.sender_id == current_user.id %>
          <%= render 'messages/sent', message: message %>
        <% else %>
          <%= render 'messages/received', message: message %>
        <% end %>
      <% end %>
    </div>

<% else %>
  <p style='text-align:center; padding: 44px 0px;'>No messages in this chat!</p>
<% end %>

