
<div class="navbar fixed-top navbar-expand-sm navbar-light" style='padding: 0 22px; right: -2%;'>
  <%= link_to '<<', conversations_path, class: 'back-link' %>
</div>
<div style='width: 313px; padding: 24px 0px 16px 0px;'>
  <%= form_tag search_conversations_path, class: "form-inline", method: :get do %>
    <div id='search-data' class='search-input-container <%= current_user.account.theme %>' data-conversations="<%= @autocomplete %>">
      <i id="search-conversation-btn" class="fas fa-search"></i>
      <%= text_field_tag :query,
          params[:query],
          autocomplete: :off,
          id: 'myConversationSearch',
          class: "mySearch #{current_user.account.theme}",
          placeholder: "Search"
      %>
    </div>
    <%= submit_tag "Search", id: 'myConversationSubmit', style: "display: none;" %>
  <% end %>
</div>
<% if @conversations.blank? %>
  <div class="q-msg <%= current_user.account.theme %>">
    <p><i class="far fa-frown-open"></i> Sorry, no results found for '<%= @query %>'</p>
  </div>
<% end %>

<div style='height: 82vh; overflow-y: scroll;'>
  <% @conversations.each do |c| %>
    <%= render 'conversations/conversation', c: c %>
  <% end %>
</div>
