<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <%= link_to '<<', conversations_path, style: 'color:#aaa; font-weight: bold;' %>
</div>

<div style='width: 313px;'>
  <%= form_tag search_conversations_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control m-3",
        id: 'mySearch',
        placeholder: "Search by name"
    %>
    <% submit_tag "Search", id: 'mySubmit' %>
  <% end %>
</div>
<% if @conversations.blank? %>
  <!-- style this -->
  <div><%= @query %> not found </div>
<% end %>
<% @conversations.each do |c| %>
  <div>
    <%
      if c.opposed_user(current_user).online?
        present_color = '#00917C;'
      else
        present_color = '#aaa;'
      end
    %>
  </div>

  <% if c.messages.present? %>
    <% new_msg = Notification.where(read: false, action: 'Message', action_id: c.id, user: current_user)
       msg_link =  new_msg.present? ? new_msg.first.link : "/conversations/#{c.id}#message-#{c.messages.last.id}" %>
       <!-- "/conversations/#{c.id}#message-#{c.messages.last.id}" -->
  <% else %>
    <% msg_link = "/conversations/#{c.id}" %>
  <% end %>

    <%= link_to "#{msg_link}", class: 'myLink' do %>
      <%#= link_to conversation_path(c, anchor: "message-#{c.messages.last.id}"), class: 'myLink' do %>
        <div class="chat">
          <div class="row chat-wrapper">
            <div class="col-md-4">
              <div class="compose-area">
                <div class="chat-list-wrapper" style="overflow-y: auto; width: auto;">
                  <ul class="chat-list">
                    <li class="new" style='padding-top: 8px;'>
                    <span class="pic">
                      <%= cl_image_tag c.opposed_user(current_user).profile_photo.key, height: 60, width: 60, crop: :fill, style: "border-radius: 50%; border: 2px solid #fff;" %>
                    </span>
                    <div class="body">
                      <div class="header">
                        <span class="username" id="last-online"><%= c.opposed_user(current_user).name %> <i class='fas fa-circle' style="color:<%= present_color %>"></i></span>
                        <% if new_msg %>
                          <span style='padding-left: 8px;'><%= new_msg.size unless new_msg.size.zero? %></span>
                        <% end %>
                        <small class="timestamp"><%= c.messages.present? ? c.messages.last.created_at.to_date : c.created_at.to_date %></small>
                      </div>
                      <% if c.messages.present? %>
                        <% if c.messages.last.content.present? %>
                          <p style="font-weight: 600;"><%= c.messages.last.content[0..35] %></p>
                        <% else %> <!--
                        <#% if c.messages.last.attachment.present? %>-->
                          <p style="font-weight: 600;">** Attachment **</p>
                        <% end %>
                      <% else %>
                        <p style="font-weight: 300;">Start conversation!</p>
                      <% end %>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

<script>
  document.getElementById('mySearch').addEventListener('keyup', triggerSubmit);
  function triggerSubmit(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById('mySubmit').click();
    }
  }
</script>
