
<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <%= link_to '<<', conversations_path, class: 'back-link' %>
</div>
<div style='width: 313px; padding: 24px 0px;'>
  <%= form_tag search_conversations_path, class: "form-inline", method: :get do %>
    <div id='search-data' class='search-input-container' data-conversations="<%= @autocomplete.to_json %>">
      <i id="search-conversation-btn" class="fas fa-search"></i>
      <%= text_field_tag :query,
          params[:query],
          autocomplete: :off,
          id: 'myConversationSearch',
          placeholder: "Search"
      %>
    </div>
    <%= submit_tag "Search", id: 'myConversationSubmit', style: "display: none;" %>
  <% end %>
</div>
<% if @conversations.blank? %>
  <div style="margin-left: 8px; color: rgba(14, 0, 0, 0.38); font-size: 14px;">
    <p><i class="far fa-frown-open"></i> Sorry, no results found for '<%= @query %>'</p>
  </div>
<% end %>

<div style='height: 82vh; overflow-y: scroll;'>
  <% @conversations.each do |c| %>
    <%= render 'conversations/conversation', c: c %>
  <% end %>
</div>
