
<div style="margin: -16px !important">

 <!--dropdown -->
  <div class="navbar fixed-top navbar-expand-sm navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style=''>
      <ul class="navbar-nav mr-auto">
        <div class="nav-item dropdown">
          <a id="navbarDropdown", data-toggle="dropdown", aria-haspopup='true', aria-expanded='false'  >
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <!-- @Iva, can we add Media, links and docs? re: ofc :) -->
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
            <%= link_to "View profile", user_path(@conversation.opposed_user(current_user)), class: "dropdown-item" %>
            <%= link_to "Media & docs", media_conversation_path(@conversation.id), class: "dropdown-item" %>

            <% my_link = @conversation.messages.present? ? search_messages_conversation_path(@conversation.id, anchor: "message-#{@conversation.messages.last.id}") : search_messages_conversation_path(@conversation.id) %>

            <%= link_to search_messages_conversation_path(@conversation.id), class: "dropdown-item" do %>
              <span>Search <i style='color: #666; font-size: 11px;' class="fas fa-search"></i></span>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div style="text-align: center; padding-top: 16px;">
    <%= cl_image_tag @conversation.opposed_user(current_user).profile_photo.key, height: 70, width: 70, crop: :fill, style: 'border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);' %>
  </div>

  <div style="text-align: center; font-size: 3vw; font-weight: 400; padding-top: 8px;">
    <%= @conversation.opposed_user(current_user).name %>
    <!-- render part -->
    <div id='online-<%= @conversation.opposed_user(current_user).id %>'>
      <p id='user' data-online-id="<%= @conversation.opposed_user(current_user).id %>" style="font-size: 11px;font-weight: 300;">
        Online
        <%
          if @conversation.opposed_user(current_user).online?
            present_color = '#00917C;'
          else
            present_color = '#aaa;'
          end
        %>
        <span>
          <i class='fas fa-circle' style="color:<%= present_color %>"></i>
        </span>
        <% if !@conversation.opposed_user(current_user).online? %>
          <span style="font-size: 11px;"> <%= @conversation.opposed_user(current_user).last_online %></span>
        <% end %>
      </p>
    </div>
    <!-- end of render part -->
  </div>



    <div class="message" id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">

      <div style='display: flex; justify-content: center;'>
        <div class='user-not'>
          <small>
            <i class="fas fa-lock fa-m"> </i>
            Messages in this chat are private and protected by Bike Bock's end-to-end encryption.
          </small>
        </div>
      </div>

      <div id='prevDiv'></div>

      <div id='loadDiv' style='display: none;'>
        <div class='line-load'></div>
        <div class='progress-load'></div>
        <p style='padding-top: 12px; color: #262626;'>Uploading</p>
      </div>

      <% @conversation.messages.each do |message| %>
          <div id='c-show' class='' data-conversation-id="<%= @conversation.id %>">
            <% if message.sender_id == current_user.id %>
              <%= render 'messages/sent', message: message %>
            <% else %>
              <%= render 'messages/received', message: message %>
            <% end %>
          </div>
      <% end %>
    </div>

    <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
      <div class='msg-input-container'>
        <%= f.text_area :content, label: false, placeholder: "Write a message to #{@conversation.opposed_user(current_user).name }" %>
        <i id="upload-btn" class="fas fa-paperclip"></i>
        <%= f.input :attachment, as: :file, label: false, input_html: { hidden: true } %>
      </div>
      <button type="submit" class='myBtn' style="">
        <i class="fas fa-paper-plane"></i>
      </button>
      <!-- end of msg-input-container  -->
    <% end %>

</div>
