<% if @blocked %>
<%= @blocked.blocked_user %>
  <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
    <p style="font-size: 60px; color: #433520"><i class="fas fa-walking"></i><i class="fas fa-walking"></i></p>
    <h6>There is nothing here for you</h6>
    <br>
    <p style="">Please go </p> <!-- write smtng nice here-->
    <br>
    <%= link_to "Home", rides_path, style: "background-color: #00917C; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
  </div>
<% else %>

<div style="margin: -16px !important">

 <!--dropdown -->
  <div class="navbar fixed-top navbar-expand-sm navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style=''>
      <ul class="navbar-nav mr-auto">
        <div class="nav-item dropdown <%= current_user.account.theme %>">
          <a id="navbarDropdown", class="<%= current_user.account.theme %>" data-toggle="dropdown", aria-haspopup='true', aria-expanded='false'  >
            <i class="fas fa-ellipsis-v back-link"></i>
          </a>
          <!-- @Iva, can we add Media, links and docs? re: ofc :) -->
          <div class="dropdown-menu dropdown-menu-left <%= current_user.account.theme %>" aria-labelledby="navbarDropdown">
            <% if @conversation.user_present(current_user) %>
              <%= link_to "View profile", user_path(@conversation.opposed_user(current_user)), class: "dropdown-item #{current_user.account.theme}" %>
            <% end %>
            <%= link_to "Media & docs", media_conversation_path(@conversation.id), class: "dropdown-item #{current_user.account.theme}" %>
            <% my_link = @conversation.messages.present? ? search_messages_conversation_path(@conversation.id, anchor: "message-#{@conversation.messages.last.id}") : search_messages_conversation_path(@conversation.id) %>
            <%= link_to search_messages_conversation_path(@conversation.id), class: "dropdown-item #{current_user.account.theme}" do %>
              <span>Search <i style='color: #666; font-size: 11px;' class="fas fa-search"></i></span>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div style="text-align: center; padding-top: 16px;">
    <% if @conversation.user_present(current_user) %>
      <%= cl_image_tag @conversation.opposed_user(current_user).profile_photo.key, height: 70, width: 70, crop: :fill, style: 'border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);' %>
    <% else %>
      <div style='display: flex; justify-content: center;'>
        <p style="margin-bottom: 2px; background-color: #fff; text-align: center; font-size: 36px; height: 70px; width: 70px; color: #ccc; border-radius: 50%; border: 2px solid #ccc;">
          <i class="fas fa-user"></i>
        </p>
      </div>
    <% end %>
  </div>

  <% if @conversation.user_present(current_user) %>

    <div style="text-align: center; font-size: 4vw; font-weight: 600; padding-top: 8px;">
      <%= @conversation.opposed_user(current_user).name %>
      <!-- render part -->
      <div id='online-<%= @conversation.opposed_user(current_user).id %>'>
        <p id='user' data-online-id="<%= @conversation.opposed_user(current_user).id %>" style="font-size: 11px;font-weight: 300;">
          Online
          <%
            if @conversation.opposed_user(current_user).online?
              present_color = '#00917C;'
            else
              present_color = '#aaa;'
            end
          %>
          <span>
            <i class='fas fa-circle' style="color:<%= present_color %>"></i>
          </span>
          <% if !@conversation.opposed_user(current_user).online? %>
            <span style="font-size: 11px;"> <%= @conversation.opposed_user(current_user).last_online %></span>
          <% end %>
        </p>
      </div>
      <!-- end of render part -->
    </div>

  <% else %>

    <div style="text-align: center; font-size: 4vw; margin:0; margin-bottom: 16px;">
      <p style="font-weight: 600; margin:0;"><%= @conversation.opposed_name(current_user) %></p>
      <small> (Deleted profile)</small>
    </div>

  <% end %>

</div>

    <div class="message" id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">

      <div style='display: flex; justify-content: center;'>
        <div class='user-not <%= current_user.account.theme %>'>
          <small>
            <i class="fas fa-lock fa-m"> </i>
            Bike Bock Protects and Secures Your Personal Messages.
          </small>
        </div>
      </div>

      <div id='prevDiv'></div>

      <div id='loadDiv' class="loadDiv <%= current_user.account.theme %>"style='display: none;'>
        <div class='line-load'></div>
        <div class='progress-load' style="display: flex; justify-content: space-evenly; padding-top: 4px; line-height: 4vh;">
        <i class="fas fa-cloud-upload-alt" style="padding-top: 3px; font-weight: 700;"> </i> Uploading...</div>
      </div>


      <% @conversation.messages.each do |message| %>
          <div id='c-show' class='' data-conversation-id="<%= @conversation.id %>">
            <% if message.sender_id == current_user.id %>
              <%= render 'messages/sent', message: message %>
            <% else %>
              <%= render 'messages/received', message: message %>
            <% end %>
          </div>
      <% end %>
    </div>

<% if @conversation.user_present(current_user) %>
    <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
      <div class='msg-input-container'>
        <%= f.text_area :content, label: false, placeholder: "Write a message to #{@conversation.opposed_user(current_user).name }", class: "#{current_user.account.theme}", style: 'font-size: 15px;' %>
        <i id="upload-btn" class="fas fa-paperclip"></i>
        <%= f.input :attachment, as: :file, label: false, input_html: { hidden: true } %>
      </div>
      <button type="submit" class='myBtn' style="">
        <i class="fas fa-paper-plane"></i>
      </button>
      <!-- end of msg-input-container  -->
    <% end %>
<% end %>
</div>
<% end %>
<%= audio_tag "bubble.wav", id: "oof-audio" %>
