<div style="margin: -16px !important">
  <div style="text-align: center;">
    <%= cl_image_tag @conversation.opposed_user(current_user).profile_photo.key, height: 70, width: 70, crop: :fill, style: 'border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);' %>
  </div>

  <div style="text-align: center; font-size: 3vw; font-weight: 400; padding-top: 8px;">
    <%= @conversation.opposed_user(current_user).name %>
    <!-- render part -->
    <div id='online-<%= @conversation.opposed_user(current_user).id %>'>
      <p id='user' data-online-id="<%= @conversation.opposed_user(current_user).id %>" style="font-size: 11px;font-weight: 300;">
        Online
        <%
          if @conversation.opposed_user(current_user).online?
            present_color = '#00917C;'
          else
            present_color = '#aaa;'
          end
        %>
        <span>
          <i class='fas fa-circle' style="color:<%= present_color %>"></i>
        </span>
        <% if !@conversation.opposed_user(current_user).online? %>
          <span style="font-size: 11px;"> <%= @conversation.opposed_user(current_user).last_online %></span>
        <% end %>
      </p>
    </div>
    <!-- end of render part -->
  </div>

    <div class='chatbox'>

      <div class="message" id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">
        <% @conversation.messages.each do |message| %>

          <% if message.sender_id == current_user.id %>
              <%= render 'messages/message', message: message, css_message: 'message-sent', css_msg: 'msg-sent' %>
          <% else %>
              <%= render 'messages/message', message: message, css_message: 'message-received', css_msg: 'msg-received' %>
          <% end %>

        <% end %>
      </div>

      <!-- icon in the placeholder wip -->
      <div style="display: flex; justify-content: space-evenly;">
        <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Write a message to #{@conversation.opposed_user(current_user).name }" %>
        <% end %>
        <p style="font-size: 24px; padding-left: 8px; padding-top: 3px;"><i class="fas fa-paper-plane"></i></p>
      </div>
    </div>
  </div>
</div>