<% if @notifications.nil? %>
  <p>No notifications </p>
<% else %>
<h3>Notifications (<%= @notifications.size %>)</h3>
<% @notifications.each do |n| %>
  <% if n.link.present? %>
    <p><%= link_to n.content, n.link %><!--<#%= n.action_time%></small>--></p>
  <% else %>
    <p><%= n.content %>
  <% end %>
<% end %>

<% @notifications_read.each do |n| %>
<% if n.link.present? %>
  <p ><%= link_to n.content, n.link, style: 'color: blue;' %><!--<small><#%= n.action_time%></small>--></p>
  <% else %>
    <p style='color: #999;'><%= n.content %>
  <% end %>
<% end %>
<% end %>
