<div>
  <% if @notifications.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
      <p style="font-size: 60px;"><i class="far fa-bell"></i></p>
      <h6>No Notifications Here! </h6>
      <br>
      <p style="">We'll let you know when we've got someting new for you!</p>
      <br>
      <%= link_to "Home", rides_path, style: "background-color: #00917C; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
    </div>
  <% else %>
    <div class='' style ="text-align: center;">
      <p style="font-size: 30px;"></p>
      <h6>Notifications</h6>
        <hr style="width: 95%; text-align: center;">
    </div>
    <div class='notifications-box'>
      <% @notifications.each do |n| %>
        <% css_class = n.read ? "read #{current_user.account.theme}" : 'not-read' %>

        <div class="chat">
          <div class="row chat-wrapper">
            <div class="col" style="padding: 0 !important;">
              <div class="compose-area">
                <div class="chat-list-wrapper" style="overflow-y: auto; width: auto;">
                  <ul class="chat-list">
                    <li class="new n-card <%= current_user.account.theme %>"  style="padding-bottom: 0 !important;">
                      <span class="pic">

                        <% if n.action == "Message" || n.action == "Messages" %>
                          <div class='n-icon'><i class="far fa-comment-alt"></i></div>
                        <% elsif n.action == "Request" %>
                          <div class='n-icon'><i class="fas fa-user-plus"></i></div>
                        <% else %>
                          <div class='n-icon'><i class="fas fa-star"></i></div>
                        <% end %>

                      </span>

                      <div class="body">
                        <div class="header">
                          <span class="username" id="last-online" style="font-size: 15px;"><%= n.sender_name %></span>
                          <small class="timestamp" style="font-size: 10px !important; line-height: 23px !important;"><%= n.date_display %></small>
                        </div>
                        <p class=""><%= link_to n.content, n.link, class: "#{css_class}" %></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  <% end %>
</div>

