<div>
  <% if @notifications.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
      <p style="font-size: 60px;"><i class="far fa-bell"></i></p>
      <h6>No Notifications Here! </h6>
      <br>
      <p style="color: rgba(14, 0, 0, 0.38);">We'll let you know when we've got someting new for you!</p>
      <br>
      <%= link_to "Home", rides_path, style: "background-color: #433520; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
    </div>
  <% else %>
    <h5 style='text-align: center; padding-top: 24px;'>Notifications</h5>
    <div class='notifications-box'>
    <% @notifications.each do |n| %>
      <% css_class = n.read ? 'read' : 'not-read' %>
      <% if n.link.present? %>
        <p class="<%= css_class %>"><%= link_to n.content, n.link, class: "#{css_class}" %></p>
      <% else %>
        <p class="<%= css_class %>"><%= n.content %></p>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
