<div>
  <% if @notifications.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
      <p style="font-size: 60px;"><i class="far fa-bell"></i></p>
      <h6>No Notifications Here! </h6>
      <br>
      <p style="color: rgba(14, 0, 0, 0.38);">We'll let you know when we've got someting new for you!</p>
      <br>
      <%= link_to "Home", rides_path, style: "background-color: #433520; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
    </div>
  <% else %>
    <h5 style='text-align: center; padding-top: 24px;'>Notifications</h5>

    <div class='notifications-box'>
      <% @notifications.each do |n| %>
        <% css_class = n.read ? 'read' : 'not-read' %>

        <div class="chat"> <!-- style="margin-bottom: 8px; background-color: #fbfbfb; border-radius: 8px; box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 28%);">-->
          <div class="row chat-wrapper">
            <div class="col-md-4">
              <div class="compose-area">
                <div class="chat-list-wrapper" style="overflow-y: auto; width: auto;">
                  <ul class="chat-list">
                    <li class="new" style='padding-top: 8px;'>
                      <span class="pic" >

                        <% if n.action == "Message" || n.action == "Messages" %>
                          <div class='n-icon'><i class="far fa-comment-alt"></i></div>
                        <% elsif n.action == "Request" %>
                          <div class='n-icon'><i class="fas fa-user-plus"></i></div>
                        <% else %>
                          <div class='n-icon'><i class="fas fa-star"></i></div>
                        <% end %>

                      </span>

                      <div class="body">
                        <div class="header">
                          <span class="username" id="last-online"><%= n.sender_name %></span>
                          <small class="timestamp"><%= n.date_display %></small>
                        </div>
                        <p class="<%= css_class %>"><%= link_to n.content, n.link, class: "#{css_class}" %></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  <% end %>
</div>

<style>
  .n-icon {
    font-size: 32px;
    padding: 8px;
    color: #696969;
  }
</style>
