<div class="navbar fixed-top navbar-expand-sm navbar-light" style='padding: 0 22px; right: -2%;'>
  <%= link_to '<<', rides_path, class: 'back-link' %>
</div>

<div style='overflow-y: scroll;'>

  <h6 style='text-align: center; padding: 16px 0 0 0;'>Settings</h6>
  <hr style="width: 95%; text-align: left; margin-left: 16px; padding-bottom: 8px;">
</div>
  <p  class="nav-item m" style='padding-left: 16px; margin: 0;'>
    <i class="fas fa-moon" style="font-size: 16px; color: #00917C"></i> Choose theme
  </p>
  <div style='padding: 8px;padding-left: 16px; margin: 0;'>
  <ul>
    <%= form_for [@account], authenticity_token: true, remote: true do |f| %>
      <li style="padding-left: 8px;"><label>
        <%= f.radio_button :theme, "light-mode", :onclick => "this.form.submit();"%>
        Light mode
      </label></li>
      <li style="padding-left: 8px;"><label>
        <%= f.radio_button :theme, "dark-mode", :onclick => "this.form.submit();"%>
        Dark mode
      </label></li>
    <% end %>
  <ul>

  <p class="nav-item m" id='blockedDropdown' style='margin: 0;'>
    <i class="fas fa-ban" style='font-size: 16px; color: #00917C;'></i>
    Blocked users <!-- (<#%= pluralize @blocked.size, 'user' %>)-->
  </p>
  <ul id='blockedDropdownMenu' class='hide' style=''>
    <% if @blocked.present? %>
      <div class='notifications-box' style='overflow-y:auto; height: 76vh; padding: 0px 8px;'>
        <% @blocked.each do |b| %>
          <% if policy(b).destroy? %>
            <div class="chat" id="<%= b.id %>">
              <div class="row chat-wrapper">
                <div class="col-md-4">
                  <div class="compose-area">
                    <div class="chat-list-wrapper" style="overflow-y: auto; width: auto;">
                      <ul class="chat-list">
                        <li class="new" style='padding-top: 8px;'>
                          <span class="pic" >
                            <%= cl_image_tag User.find(b.blocked_user).profile_photo.key, height: 60, width: 60, crop: :fill, style: "border-radius: 50%; border: 2px solid #fff;" %>
                          </span>
                          <div class="body">
                            <div class="header">
                              <p class="username" style="padding-bottom: 0px; line-height: 1em;"><%= User.find(b.blocked_user).name %></p>
                              <small style="font-size: 12px;">blocked since: <%= b.updated_at.localtime.strftime("%b %e %Y") %></small><br>
                              <small class=""><%= link_to "Unblock this user!", user_blocking_path(@user, b), method: :delete, remote: true, style: 'color: #00917C;' %></small>
                          </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <!-- write smtng? or maybe nothing-->
      <small style='padding-left: 34px; color: #696969;'>You don't have any blocked users.</small>
    <% end %>
  </ul>
</div>

<style>
  .hide {
    display: none;
  }

  .show {
    display: inherit;
  }
</style>

<script>
  function submitIt() {
    document.getElementById('myS').click();
  }
</script>
