<div class="my-card">
  <div class="my-row" style="display: flex; justify-content: space-around; padding: 16px 0;">
     <%= cl_image_tag @user.profile_photo.key, height: 147, width: 147, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
      <div class="my-card-body" style="padding: 0 16px;">
        <h6 style="font-size: 4vw;"><%= @user.name %></h6>
          <hr style="width: 95%; text-align: left; margin-left: 0;">
        <p style="font-size: 3vw;"><%= @user.about_me %></p>
      </div>
    </div>
</div>

<div class="card" style="box-shadow: inset 0 0 4vmin 3vmin rgba(0,0,0,0.5);">
  <%= cl_image_tag @user.bike_photo.key, class: "d-block w-100", style: "border-radius: 16px; height: 50vw;"%>
</div>

<div class="my-container" style="padding: 24px 0;">
  <div style="display: flex; flex-wrap: wrap;">
    <% @user.interests.split(/\W+/).each do |i| %>
      <p class="interests"><%= i.upcase %></p>
    <% end %>
  </div>
</div>

<div>
  <% if @user == current_user %>
    <% if @user.rides.empty? %>
      <p class="text-secondary"> You still don't have any bike rides</p>
    <% else %>
      <% @user.rides.each do |ride| %>
        <%= link_to ride_path(ride) do %>
          <div class="card" style="padding: 24px; background-color: #FDE8CD; color: #000; border-radius: 16px; border: 0px;">
    <!-- user don't really need his photo and name here
          <div style="display: flex; justify-content: flex-end; align-items: center; padding: 8px 8px;">
            <h6 style="font-size: 3vw; padding-right: 4px; padding-top: 9px;"><#%= @user.name %></h6>
            <#%= cl_image_tag @user.profile_photo.key, height: 25, width: 25, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
          </div>
        -->
            <%= cl_image_tag ride.photos.first.key, class: "card-img-top" %>
            <br>
            <h5 style=''><%= ride.title %></h5>
            <h4 style='font-size: 12px;'><%= ride.short_description[0..150] %>...</h4>
            <div style="display: flex; justify-content: flex-end; padding-right: 8px;">
              <h4 style='font-size: 12px;'></h4> <!-- display all dates or the closest one? => or not display it here at all?-->
            </div>
              <!-- fake ratings atm -->
            <div style="display: flex; justify-content: flex-end; color: #00917C; padding-right: 8px; font-size: 15px;">
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
          </div>
        <% end %>
      <% end %>
      <br>
      <br>
      <div>
      <hr style="width: 100%; text-align: left; margin-left: 0;"/>
      <%= link_to "Add Ride", new_ride_path, class: "" %>
      <hr style="width: 100%; text-align: left; margin-left: 0;"/>
      <!-- don't have it atm -->
      <%= link_to "My Messages" %>
      <hr style="width: 100%; text-align: left; margin-left: 0;"/>
      <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
    <% end %>
  <% else %>
    <%= link_to "Send Message Request" %>
  <% end %>
  </div>
</div>
