<div class="navbar fixed-top navbar-expand-sm navbar-light" style='padding: 0 22px; right: -2%;'>
  <%= link_to '<<', :back, class: 'back-link' %>
</div>

<% if @blocked_current || @blocked %>
  <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
    <p style="font-size: 60px;"><i class="fas fa-walking"></i><i class="fas fa-walking"></i></p>
    <h6>There is nothing here for you</h6>
    <br>
    <p style="">Please go </p> <!-- write smtng nice here-->
    <br>
    <%= link_to "Home", rides_path, style: "background-color: #00917C; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
  </div>
<% else %>
  <div style='max-height: 95vh; overflow-y: scroll;'>
    <div class="my-card" id='user' data-online-id="<%= @user.id %>">
      <div class="my-row" style="display: flex; justify-content: space-around;">
        <div style='padding-right: 16px; padding-top: 8px;'>
          <%= cl_image_tag @user.profile_photo.key, height: 127, width: 127, crop: :fill, class: 'user-photo',style: "margin-top: 16px;" %>

          <!-- edit profile -->
          <% if policy(@user).edit? %>
            <%= link_to edit_user_registration_path(@user) do %>
              <p class="fas fa-pencil-alt" style="border: 3px solid #00917C; font-size: 10px; position: relative; color: #444; font-weight: 600; left: 82%; top: -23%; border-radius: 50%; background-color: #fff; padding: 5px; box-shadow: 0px 0px 5px 3px rgb(0, 0, 0, 38%);"></p>
            <% end %>
          <% end %>

          <!-- block -->
          <% if @user != current_user %>
            <%= link_to user_blockings_path(@user), method: :post do %>
              <i id="" class="far fa-user" style="font-size: 10px; position: relative; color: #444; font-weight: 600; left: 82%; top: -23%; border-radius: 50%; background-color: #fff; padding: 6px; box-shadow: 0px 0px 5px 3px rgb(0, 0, 0, 38%);"></i>
              <i id="" class="fas fa-ban" style="font-size: 24px; position: relative; left: 60%; top: -20%; color: #00917C; font-weight: 600; padding: 0.1vw;"></i>
            <% end %>
          <% end %>
        </div>

        <div class="my-card-body" style="padding: 0 16px;">
          <h6 style="font-size: 4vw; margin-top: 8px;"><%= @user.name %>
          <!-- render part -->
          <span id='online-<%= @user.id %>'>
            <span id='user' data-online-id="<%= @user.id %>" style="font-size: 11px; font-weight: 300; margin-bottom: 0 !important;">
              <%
                if @user.online?
                  present_color = '#00917C;'
                else
                  present_color = '#aaa;'
                end
              %>

                <i class='fas fa-circle' style="color: <%= present_color %>"></i>

              <!--
              <#% if !@user.online? %>
                <span style="font-size: 11px;"> <#%= @user.last_online %></span>
              <#% end %> -->
            </span>
          </span>
          </h6>
          <!-- end of render part -->
          <hr style="width: 95%; text-align: left; margin-left: 0;">
          <p style="font-size: 3vw;"><%= @user.about_me %></p>
        </div>
      </div>
    </div>

    <div class="my-container">
      <div style="display: flex; flex-wrap: wrap;">
        <% @user.tags.each do |tag| %>
          <p class="interests"><%= link_to tag.name, tag_path(tag) %></p>
        <% end %>
      </div>
    </div>

    <% if @user.bike_photo.present? %>
      <div class="card" style="border:none; background-color: transparent; padding-bottom: 20px;">
        <%= cl_image_tag @user.bike_photo.key, class: "d-block w-100", style: "border-radius: 16px; height: 45vw;"%>
      </div>
    <% end %>

    </div>
    <div>
      <% if @user.rides.empty? %>
        <% if @user == current_user %>
          <p class="text-secondary"> You still don't have any bike rides, go and
          <%= link_to new_ride_path do %>
            <h6 class='add-ride <%= current_user.account.theme %>'>Add New Ride
            <i class="fas fa-plus" style= 'font-size: 4px; background: #fff; padding: 5px; border-radius: 50%; box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 38%);'></i></h6>
          <% end %>
        <% end %>
      <% else %>
        <% if @user == current_user && @user.rides.size < 3 %>
          <%= link_to new_ride_path do %>
            <h6 class='add-ride <%= current_user.account.theme %>'>Your Rides
            <i class="fas fa-plus" style= 'border: 3px solid #00917C; font-size: 10px; background: #fff; padding: 5px; border-radius: 50%; box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 38%);'></i></h6>
          <% end %>
        <% end %>
        <% @user.rides.each do |ride| %>
          <%= render 'rides/ride', ride: ride %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
