<div class="container">
  <div class="card-profile">
    <h1><%= @user.name %></h1>
    <div>
      <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill %>
    </div>
    <p><%= @user.about_me %></p>
    <p>Age: <%= @user.age %></p>
    <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
      <br> <!-- some another links...wip --->
      <%= link_to "My Bike Rides" %> |
      <%= link_to "My Messages" %>
    <% else %>
      <%= link_to "Send Message Request" %>
    <% end %>
  </div>
</div>
