<div class="container" style="margin-top: 118px; width: 96%; background-color: #E5E5E5; padding-top: 16px !important;">
  <br>
  <div style="text-align: center; color: #fff; font-weight: 600;">
    <h5 style="">Reset Your Password</h5>
    <p style="font-size: 12px; color: #000">Fear not. We'll email you instructions to reset your password.</p>
    <hr style="width: 95%; text-align: left; margin-left: 0;">
  </div>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Your Email",
                  input_html: { autocomplete: "email" } %>

      <div class="form-actions" style="text-align: center; padding-top: 12px;">
        <%= f.button :submit, "Reset password!", style: "background-color: #FDE8CD; padding: 7px 24px; border-radius: 16px; color: #000; font-weight: 600; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
      </div>
    </div>
  <% end %>
  <br>
  <%- if controller_name != 'sessions' %>
    <p style="text-align: center; color: #fff !important; font-weight: 400 !important;"><%= link_to "Back to Sign In!", new_session_path(resource_name) %><br />
  <% end %>
  <br>
</div>
