<div id='sidebar' class='sidebar-nav'>

  <!-- notification bell render part -->
  <div class='not-box'>
  <div id='notifications'>
    <p id='note' data-note-id="<%= current_user.id %>" ></p>
    <% if current_user.notifications.where(read: false).present? %>
      <i class="fas fa-bell"></i>
    <% end %>
  </div>
</div>
  <!-- end -->

  <i id='sidebar-toggler' class="fa fa-bars"></i>

  <ul>

    <p id='c_user' data-conline-id="<%= current_user.id %>"></p>

    <%= cl_image_tag current_user.profile_photo.key, height: 40, width: 40, crop: :fill, class: "avatar"%>
    <br>
    <!-- dropdown -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
        My account
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item" %></li>
        <li><%= link_to "Another action", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>

    <li class="nav-item active">
      <%= link_to "Home", rides_path, class: "sidenav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Notifications", notifications_users_path, class: "sidenav-link" %>

      <span id='not-size'><%= current_user.notifications.where(read: false).size %></span>
    </li>
    <li class="nav-item">
      <%= link_to "Messages", conversations_path, class: "sidenav-link" %>

      <span id='notm-size'>
        <% if current_user.notifications.where(read: false, action: 'Message').size > 0 %>
          <%= current_user.notifications.where(read: false, action: 'Message').size %>
        <% end %>
      </span>

    </li>

     <li class="nav-item">
      <%= link_to "Bookmarks", bookmarks_users_path, class: "sidenav-link" %>
    </li>

  </ul>
</div>

