
<% if r[:request].recipient_id == current_user.id %>

  <% if !r[:all_bookings] %>
    <p style='text-align: center;  padding-top: 12px; font-family: monospace;'>Already fully booked!</p>
  <% end %>
  <% if r[:notification] %>
    <i style='color: #aaa; padding-left: 8px;' class="fas fa-exclamation-circle"></i>
  <% end %>
  <div style="display: flex; justify-content: space-between; padding-top: 8px; padding-left: 8px;">
    <p style="font-size: 75%;"><%= r[:request].created_at.to_date %> | </p>
    <% user = User.find(r[:request].user_id) %>
    <% if r[:request].accepted.nil? %>
      <p style="font-size: 12px; font-family: monospace;">Add <span style='color:#00917C; font-weight: 600;'> <%= user.name %></span></p>
    <% elsif r[:request].accepted && r[:check_book].nil? %>
      <p style="font-size: 12px; font-family: monospace;">Accepted: <span style='color:#00917C; font-weight: 600;'> <%= user.name %></span></p>
    <% elsif r[:check_book].present? %>
      <p style="font-size: 12px; font-family: monospace;">Confirmed <span style='color:#00917C; font-weight: 600;'> <%= user.name %></span>
      </p>
    <% else %>
      <p style="font-size: 12px; font-family: monospace;">Declined: <span style='color:#00917C; font-weight: 600;'> <%= user.name %></span>
    </p>
    <% end %>
    <p style='color: #fff; font-size: 8px; background-color: #00917C; font-weight: 600; border-radius: 16px; padding: 1px 10px;'>
      <%= r[:request].ride_date %>
    </p>
  </div>

  <%= render 'requests/ride_request', request: r[:request] %>

<% else %>

  <% if r[:notification] %>
    <i style='color: #aaa; padding-left: 8px;' class="fas fa-exclamation-circle"></i>
  <% end %>

  <div style="display: flex; justify-content: space-between; padding-top: 8px; padding-left: 8px;">
    <p style="font-size: 8px"><%= r[:request].created_at.strftime('%d-%m-%Y')  %> | </p>
    <% if r[:request].accepted.nil? %>
      <p style="font-size: 12px; font-family: monospace;">Status: pending</p>
    <% elsif r[:request].accepted && r[:check_book].nil? %>
      <p style="font-size: 12px; font-family: monospace;">Status: accepted</p>
    <% elsif r[:check_book].present? %>
      <p style="font-size: 12px; font-family: monospace;">Status: booked</p>
    <% else %>
      <p style="font-size: 12px; font-family: monospace;">Status: declined</p>
    <% end %>
    <p style='color: #fff; font-size: 8px; background-color: #00917C; font-weight: 600; border-radius: 16px; padding: 1px 10px;'>
      <%= r[:request].ride_date.to_date.strftime('%d-%m-%Y')  %>
    </p>
  </div>

  <%= render 'requests/ride_request', request: r[:request] %>

<% end %>

