<div class="card" style="border-radius: 16px; border: 0;">
  <%= cl_image_tag request.ride.photos.first.key, style: "border-radius: 16px; height: 40vw;"%>
</div>
<br>
<div style="display: flex; justify-content: start;">
  <div style="display: flex; justify-content: start; color: #00917C; font-size: 12px;">
    <h5 class="r-h5 <%= current_user.account.theme %>"><%= request.ride.title[0..25] %></h5>
    <% if request.ride.reviews.present? %>
      <p class=""><%= request.ride.avg_rating %> (<%= pluralize request.ride.reviews.size, "review" %>)</p>
    <% end %>
  </div>
</div>
<p class="rp <%= current_user.account.theme %>"><%= request.ride.short_description[0..200] %>...</p>
