

<!-- use this, read ? 'class1' : 'class2' -->
<h3>Requests</h3>
<% @requests_notifications.each do |r| %>
  <% if r.link %>
    <p class="<%= r.read ? 'read' : 'not-read' %>"><%= link_to r.content, r.link %>, (<%= r.created_at.to_date %>)</p>
  <% else %>
    <p class="<%= r.read ? 'read' : 'not-read' %>"><%= r.content %>, (<%= r.created_at.to_date %>)</p>
  <% end %>
<% end %>

<h6>Pending requests (<%= @requests_sent.where(accepted: false).size %>)</h6>

<% @requests_sent.order(created_at: :desc).each do |r| %>
  <p>
    <%= link_to ride_path(r.ride) do %>
      <p><%= r.ride_date %> <%= r.ride.title %></p>
    <% end %>
  </p>
<% end %>

<style>
  .read {
    background-color: #eee;
  }
</style>
