
<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <!-- some icon here :/ -->
  <a id='show-requests' style='color:#aaa; font-weight: bold;'> >> </a>
</div>

<div class="<%= @r_num <= @s_num ? 'hide' : 'show' %>">
  <h5 style='padding-top: 24px; text-align: center;'>
    Requests received (<%= @requests_received.where(accepted: true).size %>/<%= @requests_received.size %>)
  </h5>
  <div class='requests-box'>
    <% @requests_received.each do |r| %>
      <%= link_to request_path(r), class: "not-read" do %>
        <div class='rides'>
          <%= render 'requests/request', request: r %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="<%= @r_num <= @s_num ? 'show' : 'hide' %>">
  <h5 style='padding-top: 24px; text-align: center;'>
    Sent requests (<%= @requests_sent.where.not(accepted: nil).size %>/<%= @requests_sent.size %>)
  </h5>
  <div class='requests-box'>
    <% @requests_sent.each do |r| %>
      <%= link_to request_path(r.id), class: "not-read" do %>
        <div class='rides'>
          <%= render 'requests/request', request: r %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .hide {
    display:none;
  }
</style>

<script>

  document.getElementById('show-requests').onclick = function() {
    const show = document.querySelector('.show');
    const hide = document.querySelector('.hide')
    if(hide.style.display === 'none') {
      show.style.display = 'none';
      hide.style.display = 'inherit';
    } else {
      show.style.display = 'inherit';
      hide.style.display = 'none';
    }
  }

</script>
