<div class="navbar fixed-top navbar-expand-sm navbar-light" style='padding: 0 22px; right: -2%;'>
  <%= link_to '<<', rides_path, class: 'back-link' %>
</div>

<% if @rs.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
      <p style="font-size: 60px;"><i class="fas fa-walking"></i><i class="fas fa-walking"></i></p>
      <h6>No Requests Yet!</h6>
      <br>
      <p style="">Connect with someone first!</p> <!-- write smtng nice here-->
      <br>
      <%= link_to "Home", rides_path, style: "background-color: #00917C; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
    </div>
<% else %>

  <div class='requests-box'>
    <% @rs.each do |r| %>
      <%= link_to request_path(r[:request].id), class: "not-read" do %>
        <div class='rides <%= current_user.account.theme %>'>
          <%= render 'requests/request', r: r %>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
