<h3><%= User.find(@request.user_id).name %></h3>
<small><%= @request.created_at %></small>
<p><%#= @request.first_message %></p>
<% if @request.recipient_id == current_user.id %>
  <% if !@request.accepted %>

      <form method="post" action="/requests/:id/conversations" class=" ">
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <%= hidden_field_tag :id, @request.id %>
       <input value="Accept" type="submit" />
     </form>"
  <% else %>
    <p> Request accepted :) go to chat! <p>

  <% end %>

  <% if policy(@request).destroy? %>
    <%= link_to "Decline", @request, method: :delete, data: {confirm: "Are you sure?"}, style: 'color:red;' %>
  <% end %>

<% else %>
  <% if !@request.accepted %>
    <p> Status pending </p>
  <% else %>
    <p> Request accepted :) go to chat! <p>

  <% end %>

<% end %>
<!-- imp this! -->
