<h3><%= User.find(@request.sender_id).name %></h3>
<small><%= @request.created_at %></small>
<p><%= @request.first_message %></p>
<% if !@request.accepted %>
  <%= render 'conversations/new' %>
<% end %>
<%= link_to 'Decline' %> <!-- wip ->
