<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <% my_requests = @request.recipient_id == current_user.id ? received_requests_path : sent_requests_path %>
  <%= link_to '<<', my_requests, class: 'back-link' %>
</div>

<% if @request.recipient_id == current_user.id %>
  <% if !@all_bookings %>
    <p style='text-align: center; padding-top: 8px; font-family: monospace;'>Already fully booked!</p>
  <% end %>

  <div style='display:flex; justify-content: center;'>
    <% @participants.each do |p| %>
      <%= link_to user_path(p) do %>
        <%= cl_image_tag p.profile_photo.key, height: 50, width: 50, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38); margin: 0px 2px;" %>
      <% end %>
    <% end %>
  </div>

  <div style="display: flex; justify-content: space-between; padding-top: 32px; padding-left: 8px;">
    <p style="font-size: 75%;"><%= @request.created_at.to_date %> | </p>
    <% user = User.find(@request.user_id) %>
    <% if @request.accepted.nil? %>
      <p style="font-size: 12px; font-family: monospace;">Add <%= link_to user.name, user_path(user.id), style: 'color: #00917C; font-weight: 600;' %></p>
    <% elsif @request.accepted && @check_book.nil? %>
      <p style="font-size: 12px; font-family: monospace;"><%= link_to user.name, user_path(user.id), style: 'color: #00917C; font-weight: 600;' %>
    joined</p>
    <% elsif @check_book.present? %>
      <p style="font-size: 12px; font-family: monospace;">Booked for <%= link_to user.name, user_path(user.id), style: 'color: #00917C; font-weight: 600;' %>
      </p>
    <% else %>
      <p style="font-size: 12px; font-family: monospace;">You declined <%= link_to user.name, user_path(user.id), style: 'color: #00917C; font-weight: 600;' %>
    </p>
    <% end %>
    <p style='color: #fff; font-size: 8px; background-color: #00917C; font-weight: 600; border-radius: 16px; padding: 1px 10px;'>
      <%= @request.ride_date %>
    </p>
  </div>


  <%= render 'rides/ride', ride: @request.ride %>

  <% if @request.accepted.nil? %>

    <div style='display: flex; justify-content: center;'>
      <%= link_to 'Accept', request_conversations_path(@request), method: :post, class: "brown-btn", style: "padding: 4px 47px !important;" %>
      <% if policy(@request).update? %>
        <%= link_to "Decline", request_path(@request), method: :put, class: "brown-btn", style: "padding: 4px 47px !important;" %>
      <% end %>
    </div>

  <% elsif @request.accepted %>
    <!-- links here -->
    <div style='display: flex; justify-content: center'>
      <% if @check_book.nil? && @all_bookings %>
        <%= link_to 'Book', request_bookings_path(@request), method: :post, class: 'brown-btn' %>
      <% end %>
      <% if @chat.messages.present? %>
        <%= link_to 'Chat', conversation_path(@chat, anchor: "message-#{@chat.messages.last.id}"), class: 'brown-btn' %>
      <% else %>
        <%= link_to 'Chat', conversation_path(@chat), class: 'brown-btn' %>
      <% end %>
    </div>

  <% else %>
    <!-- declined -->
  <% end %>

<% else %>

  <% if !@all_bookings %>
    <p style='text-align: center; padding-top: 8px; font-family: monospace;'>Already fully booked!</p>
  <% end %>

  <div style='display:flex; justify-content: center;'>
    <% @participants.each do |p| %>
      <%= link_to user_path(p) do %>
        <%= cl_image_tag p.profile_photo.key, height: 50, width: 50, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38); margin: 0px 2px;" %>
      <% end %>
    <% end %>
  </div>

  <div style="display: flex; justify-content: space-between; padding-top: 32px; padding-left: 8px;">
    <p style="font-size: 75%;"><%= @request.created_at.to_date %> | </p>
    <% if @request.accepted.nil? %>
      <p style="font-size: 12px; font-family: monospace;">Pending request</p>
    <% elsif @request.accepted && @check_book.nil? %>
      <p style="font-size: 12px; font-family: monospace;">Accepted</p>

   <!-- review -->
    <% elsif @check_book.present? %>
      <% if @check_book.review.nil? %>
        <% if @check_book.ride_date < Date.today %>
          <a id='review-btn'>Leave review</a>
          <!-- review pop-up -->
          <div id='myReviewForm' style=''>
            <button id='closeReviewBtn'><span aria-hidden="true">&times;</span></button>
            <%= render 'reviews/form', booking: @check_book, review: @review %>
          </div>
        <% else %>
        <p style="font-size: 14px;">Request is booked</p>
        <% end %>
      <% else %>
        <!-- view your review -->
        <a style="font-size: 14px;" id='my-review-btn'>Show my review</a>

        <div id='myReview' style='display: none;'>
          <br>
          <button id='closeReview'><span aria-hidden="true">&times;</span></button>
          <div style="height: 156px; padding: 16px; width: 300px;">
            <small><%= @check_book.review.created_at.strftime('%e %B %Y') %></small>
            <p><%= @check_book.review.content %></p>
            <% @check_book.review.rating.times do %>
              <i style='color: #00917c;' class="fas fa-star"></i>
            <% end %>
          </div>
        </div>

      <% end %>
      <!-- end of review part -->
    <% else %>
      <p style="font-size: 14px;">Request is declined</p>
    <% end %>
    <p style='color: #fff; font-size: 8px; background-color: #00917C; font-weight: 600; border-radius: 16px; padding: 1px 10px;'>
      <%= @request.ride_date %>
    </p>
  </div>

  <%= render 'rides/ride', ride: @request.ride %>

  <% if @request.accepted %>
    <div style='display: flex; justify-content: center'>
      <% if @chat.messages.present? %>
        <%= link_to 'Chat', conversation_path(@chat, anchor: "message-#{@chat.messages.last.id}"), class: 'brown-btn' %>
      <% else %>
        <%= link_to 'Chat', conversation_path(@chat), class: 'brown-btn' %>
      <% end %>
    </div>
  <% end %>
<% end %>
