<h3><%= @request.opposed_user(current_user).name %></h3>
<small><%= @request.created_at %></small>
<p><%= @request.first_message %></p>
<% if @request.recipient_id == current_user.id %>
  <% if !@request.accepted %>
    <%= render 'conversations/new' %>
  <% end %>

  <% if policy(@request).destroy? %>
    <%= link_to "Decline", @request, method: :delete, data: {confirm: "Are you sure?"}, style: 'color:red;' %>
  <% end %>
<% end %>
