<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <%= link_to '<<', requests_path, class: 'back-link' %>
</div>

<% if @request.recipient_id == current_user.id %>
  <% if !@all_bookings %>
    <p style='text-align: center;'>This date is already full booked!</p>
  <% end %>
  <div style="display: flex; justify-content: space-between; padding-top: 32px; padding-left: 8px;">
    <small><%= @request.created_at.to_date %> | </small>
    <% user = User.find(@request.user_id) %>
    <% if @request.accepted.nil? %>
      <p style="font-size: 14px;"><%= link_to user.name, user_path(user.id), style: 'color: #00917C;' %>
    wants to join</p>
    <% elsif @request.accepted && @check_book.nil? %>
      <p style="font-size: 14px;"><%= link_to user.name, user_path(user.id), style: 'color: #00917C;' %>
    is joined</p>
    <% elsif @check_book.present? %>
      <p style="font-size: 14px;">Booked for <%= link_to user.name, user_path(user.id), style: 'color: #00917C;' %>
      </p>
    <% else %>
      <p style="font-size: 14px;">You declined <%= link_to user.name, user_path(user.id), style: 'color: #00917C;' %>
    </p>
    <% end %>
    <p style='color: #fff; font-size: 12px; background-color: #00917C; font-weight: 600; border-radius: 16px; padding: 1px 10px;'>
      <%= @request.ride_date %>
    </p>
  </div>

  <%= render 'rides/ride', ride: @request.ride %>

  <% if @request.accepted.nil? %>

    <div style='display: flex; justify-content: center;'>
      <%= link_to 'Accept', request_conversations_path(@request), method: :post, class: "brown-btn", style: "padding: 4px 47px !important;" %>
      <% if policy(@request).update? %>
        <%= link_to "Decline", request_path(@request), method: :put, class: "brown-btn", style: "padding: 4px 47px !important;" %>
      <% end %>
    </div>

  <% elsif @request.accepted %>
    <!-- links here -->
    <div style='display: flex; justify-content: center'>
      <% if @check_book.nil? && @all_bookings %>
        <%= link_to 'Book', request_bookings_path(@request), method: :post, class: 'brown-btn' %>
      <% end %>
      <% if @chat.messages.present? %>
        <%= link_to 'Chat', conversation_path(@chat, anchor: "message-#{@chat.messages.last.id}"), class: 'brown-btn' %>
      <% else %>
        <%= link_to 'Chat', conversation_path(@chat), class: 'brown-btn' %>
      <% end %>
    </div>

  <% else %>
    <!-- declined -->
  <% end %>

<% else %>

  <div style="display: flex; justify-content: space-between; padding-top: 32px; padding-left: 8px;">
    <small><%= @request.created_at.to_date %> | </small>
    <% if @request.accepted.nil? %>
      <p style="font-size: 14px;">Status pending...</p>
    <% elsif @request.accepted && @check_book.nil? %>
      <p style="font-size: 14px;">Request is accepted</p>
    <% elsif @check_book.present? %>
      <p style="font-size: 14px;">Request is booked</p>
    <% else %>
      <p style="font-size: 14px;">Request is declined</p>
    <% end %>
    <p style='color: #fff; font-size: 12px; background-color: #00917C; font-weight: 600; border-radius: 16px; padding: 1px 10px;'>
      <%= @request.ride_date %>
    </p>
  </div>

  <%= render 'rides/ride', ride: @request.ride %>

  <% if @request.accepted %>
    <div style='display: flex; justify-content: center'>
      <% if @chat.messages.present? %>
        <%= link_to 'Chat', conversation_path(@chat, anchor: "message-#{@chat.messages.last.id}"), class: 'brown-btn' %>
      <% else %>
        <%= link_to 'Chat', conversation_path(@chat), class: 'brown-btn' %>
      <% end %>
    </div>
  <% end %>
<% end %>
