<div class="container" style="background-color: #E5E5E5; padding-top: 16px !important;">
  <div style="margin: 16px; text-align: center; color: #fff; font-weight: 600;">
    <% if ride.persisted? %>
      <h3 style="padding-bottom: 4px;">Edit Your Ride!</h3>
    <% else %>
      <h3 style="padding-bottom: 4px;">Add Ride!</h3>
    <% end %>
  </div>

  <%= simple_form_for(ride) do |f| %>

    <%= f.input :title,
                required: true,
                label: 'Title',
                input_html: { autocomplete: "title" } %>

    <%= f.input :short_description,
                required: true,
                label: 'Description',
                input_html: { autocomplete: "short_description" } %>

    <%= f.input :start_location,
                required: true,
                label: "Start location:",
                input_html: { autocomplete: "start_location" } %>

    <%= f.input :end_location,
                required: true,
                label: "End location:" %>

    <%= f.input :start_time,
                required: true,
                label: "Start time:" %>

    <%= f.input :end_time,
                required: true,
                label: "End time:" %>

    <%= f.input :difficulty, collection: (1..5).to_a, as: :radio_buttons %>
    <%= f.input :number_of_people, collection: (1..5).to_a, as: :radio_buttons %>
    <%= f.input :available_dates,
                as: :string,
                input_html: { class: 'flatpickr' },
                required: true,
                label: "Available dates:" %>

    <div id='photo_1' style=''>
      <%= f.input :photo_1,
                  as: :file,
                  label: 'photo',
                  required: true,
                  autofocus: true,
                  input_html: { class: 'custom-file-input'},
                  label_html: { class: 'custom-file-label' },
                  wrapper_html: { class: 'custom-file' } %>
    </div>


    <div id='photo_2' style='display:none;'>
      <%= f.input :photo_2,
                  as: :file,
                  label: 'photo',
                  required: true,
                  autofocus: true,
                  input_html: { class: 'custom-file-input'},
                  label_html: { class: 'custom-file-label' },
                  wrapper_html: { class: 'custom-file' } %>
    </div>

    <div id='photo_3' style='display:none;'>
      <%= f.input :photo_3,
                  as: :file,
                  label: 'photo',
                  required: true,
                  autofocus: true,
                  input_html: { class: 'custom-file-input'},
                  label_html: { class: 'custom-file-label' },
                  wrapper_html: { class: 'custom-file' } %>
    </div>


    <p id='photo_done' style='display:none;'>All set up!</p>


    <div class='row' style='display:flex; justify-content: flex-start; margin-left: -6px;'>
      <div id="previewPhoto1" class='my-3'></div>
      <div id="previewPhoto2" class='my-3'></div>
      <div id="previewPhoto3" class='my-3'></div>
    </div>






<!--
    <div data-controller="multi-upload" data-action ="input->multi-upload#addFile" style='padding-bottom: 0.2em;'>
      <div class="multi-upload">

        <#%= f.input :photos,
                  as: :file,
                  required: true,
                  autofocus: true,
                  input_html: { class: 'custom-file-input', multiple: true },
                  label_html: { class: 'custom-file-label', style: 'border-radius: 16px;' },
                  wrapper_html: { class: 'custom-file' } %>
      </div>
      <div data-multi-upload-target="files"></div>
    </div>

-->
    <% if ride.persisted? %>

      <div class="my-row current-photos">
        <% ride.photos.each do |photo| %>
          <div><%= cl_image_tag photo.key, height: 70, width: 95, crop: :fill, style: "border-radius: 16px;" %></div>
        <% end %>
      </div>

      <div id="previewRide" class=''></div>

      <div class="form-actions" style="text-align: center; padding-top: 24px; margin-bottom: 48px;">
        <%= f.submit value="Save", class: "brown-btn" %>
      </div>

    <% else %>
      <!-- preview -->
      <br>
      <div id="previewRide" class=''></div>
      <div class="form-actions" style="text-align: center; padding-top: 24px; margin-bottom: 48px;">
        <%= f.submit value="Add", id:'new-ride', class: "brown-btn" %>
      </div>
    <% end %>
  <% end %>
  <br>
</div>


<div id='load-pop-ride'>
  <div id='load-box-ride' style='font-size: 48px; font-weight:bold;color: #00917c;'><i class="fas fa-spinner"></i></div>
  <br><p style='font-weight: 700;color: #495057;'>Hold tight, you are almost there!</p><br>
</div>
