<div class="container ride-form-box <%= current_user.account.theme %>">
  <div style="margin: 16px; text-align: center; color: #fff; font-weight: 600;">
    <% if ride.persisted? %>
      <h3 style="padding-bottom: 4px;">Edit Your Ride!</h3>
    <% else %>
      <h3 style="padding-bottom: 4px;">Add Ride!</h3>
    <% end %>
  </div>

  <%= simple_form_for(ride) do |f| %>

    <%= f.input :title,
                required: true,
                label: 'Title',
                input_html: { autocomplete: "title", class: "#{current_user.account.theme}" } %>

    <%= f.input :short_description,
                required: true,
                label: 'Description',
                input_html: { autocomplete: "short_description", class: "#{current_user.account.theme}"  } %>

    <%= f.input :start_location,
                required: true,
                label: "Start location:",
                input_html: { autocomplete: "start_location", class: "#{current_user.account.theme}"  } %>

    <%= f.input :end_location,
                required: true,
                label: "End location:",
                input_html: { class: "#{current_user.account.theme}" } %>

    <%= f.input :start_time,
                required: true,
                label: "Start time:",
                input_html: { class: "#{current_user.account.theme}" } %>

    <%= f.input :end_time,
                required: true,
                label: "End time:",
                input_html: { class: "#{current_user.account.theme}" } %>

    <%= f.input :difficulty, collection: (1..5).to_a, as: :radio_buttons,
                item_label_class: "#{current_user.account.theme}" %>

    <%= f.input :number_of_people, collection: (1..5).to_a, as: :radio_buttons,
                item_label_class: "#{current_user.account.theme}" %>

    <%= f.input :available_dates,
                as: :string,
                input_html: { class: "flatpickr #{current_user.account.theme}" },
                required: true,
                label: "Available dates:" %>

    <% if ride.persisted? %>

      <p>Photos: <abbr title="required">*</abbr></p>
      <div class="my-row current-photos">
        <div class='photo-box'>
        <div id="previewPhoto1"><%= cl_image_tag ride.photo_1.key, height: 70, width: 95, style: "border-radius: 8px;", id: "ph_1" %>
          <i id="upload_photo_1" class="fas fa-times-circle pr"></i>
        </div>
        </div>
        <%= f.input :photo_1, as: :file, label: false, input_html: { hidden: true } %>
        <div class='photo-box'>
        <div id="previewPhoto2"><%= cl_image_tag ride.photo_2.key, height: 70, width: 95, style: "border-radius: 8px;", id: "ph_2" %>
          <i id="upload_photo_2" class="fas fa-times-circle pr"></i>
        </div>
        </div>
        <%= f.input :photo_2, as: :file, label: false, input_html: { hidden: true } %>
        <div class='photo-box'>
        <div id="previewPhoto3"><%= cl_image_tag ride.photo_3.key, height: 70, width: 95, style: "border-radius: 8px;", id: "ph_3" %>
          <i id="upload_photo_3" class="fas fa-times-circle pr"></i>
        </div>
        </div>
        <%= f.input :photo_3, as: :file, label: false, input_html: { hidden: true } %>
      </div>

      <div class="form-actions" style="text-align: center; padding-top: 24px; margin-bottom: 48px;">
        <%= f.submit value="Save", id: 'updated-ride', class: "brown-btn" %>
      </div>

    <% else %>

      <div id='photo_1' style=''>
        <%= f.input :photo_1,
                    as: :file,
                    label: 'photo',
                    required: true,
                    autofocus: true,
                    input_html: { class: "custom-file-input #{current_user.account.theme}"},
                    label_html: { class: "custom-file-label #{current_user.account.theme}" },
                    wrapper_html: { class: "custom-file #{current_user.account.theme}" } %>
      </div>

      <div id='photo_2'  style='display:none;'>
        <%= f.input :photo_2,
                    as: :file,
                    label: 'photo',
                    required: true,
                    autofocus: true,
                    input_html: { class: 'custom-file-input'},
                    label_html: { class: 'custom-file-label' },
                    wrapper_html: { class: 'custom-file' } %>
      </div>

      <div id='photo_3' style='display:none;'>
        <%= f.input :photo_3,
                    as: :file,
                    label: 'photo',
                    required: true,
                    autofocus: true,
                    input_html: { class: 'custom-file-input'},
                    label_html: { class: 'custom-file-label' },
                    wrapper_html: { class: 'custom-file' } %>
      </div>

      <p id='photo_done' style='display:none;'>All set up!</p>

      <div class="my-row current-photos new">
        <div class='photo-box'><div id="previewPhoto1"></div></div>
        <div class='photo-box'><div id="previewPhoto2"></div></div>
        <div class='photo-box'><div id="previewPhoto3"></div></div>
      </div>

      <div class="form-actions" style="text-align: center; padding-top: 24px; margin-bottom: 48px;">
          <%= f.submit value="Add", id:'new-ride', class: "brown-btn" %>
      </div>

    <% end %>
  <% end %>
  <br>
</div>

<div id='load-pop-ride' class="load-pop-ride <%= current_user.account.theme %>">
  <div id='load-box-ride' style='font-size: 48px; font-weight:bold;color: #00917c;'><i class="fas fa-spinner"></i></div>
  <br><p class="rpl <%= current_user.account.theme %>">Hold tight, you are almost there!</p><br>
</div>
