
<div id='ride-<%= ride.id %>' class="" style="margin-bottom: 24px; padding: 8px; background-color: #FDE8CD; color: #000; border-radius: 16px; border: 0px;">
  <div style="display: flex; justify-content: space-between; align-items: center; padding: 8px 8px;">
    <div>
      <% if policy(ride).fav? %>
        <% if current_user.favorited?(ride) %>
          <%= link_to unfav_ride_path(ride), method: :put, remote: true do %>
            <i id='b-<%= ride.id %>' onclick=changeBookmark(this) title='Unbookmark' class='fas fa-bookmark r'></i>
          <% end %>
        <% else %>
          <%= link_to fav_ride_path(ride), method: :put, remote: true do %>
            <i onclick=changeBookmark(this) title='Bookmark' class="far fa-bookmark r"></i>
          <% end %>
      <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to user_path(ride.user) do %>
<<<<<<< HEAD
        <%= cl_image_tag ride.user.profile_photo.key, height: 40, width: 40, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38), border-radius: 100%; border: 2px solid #fff;" %>
=======
        <%= cl_image_tag ride.user.profile_photo.key, height: 40, width: 40, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
>>>>>>> bf5ef8759b09510b74ecc4640241bdedcf4bb1db
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to ride_path(ride) do %>
    <div class="card" style="border-radius: 16px; border: 0;">
      <%= cl_image_tag ride.photos.second.key, style: "border-radius: 16px; height: 40vw;"%>
    </div>
    <br>
    <div style="display: flex; justify-content: start;">
<<<<<<< HEAD
      <div style="display: flex; justify-content: start; color: #00917C; font-size: 12px;">
        <h5 style="font-size: 4vw; padding-left: 4px; color: #333333;"><%= ride.title[0..25] %></h5>
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
      </div>
      <div style="display: flex; justify-content: end; font-size: 12px;">
        <% if current_user.favorited?(ride) %>
          <%= link_to unfav_ride_path(ride), method: :put, remote: true do %>
            <i id='b-<%= ride.id %>' onclick=changeBookmark(this) title='Unbookmark' class='fas fa-bookmark' style="font-size:16px; " ></i>
          <% end %>
        <% else %>
          <%= link_to fav_ride_path(ride), method: :put, remote: true do %>
            <i onclick=changeBookmark(this) title='Bookmark' class="far fa-bookmark" style="font-size:16px;"></i>
          <% end %>
        <% end %>
      </div>
=======
      <h5 style="font-size: 4vw; padding-left: 4px; padding-right: 4px; color: #333333;"><%= ride.title %></h5>
      <p style="display: flex; justify-content: flex-end; color: #00917C; padding-left: 4px; font-size: 12px;">
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
>>>>>>> bf5ef8759b09510b74ecc4640241bdedcf4bb1db
    </div>
      <p style="font-size: 3vw; padding-left: 4px; color: #333333;"><%= ride.short_description[0..200] %>...</p>

    <!-- update somehow this info in real time --> <!-- we don't need this
      <#% if ride.favoritors.size == 1 %>
        <span style="padding-left: 4px;"><small><#%= ride.favoritors.first.name %></small></span>
      <#% elsif ride.favoritors.size > 1 %>
        <span style="padding-left: 4px;"><small><#%= ride.favoritors.first.name %> and <#%= ride.favoritors.size - 1 %></small></span>
        <--<span  class='favs' id="<#%= ride.id %>" ><#%= ride.favoritors.size %> </span>->
      <#% else %>
        <span><small></small></span>
      <#% end %> -->

      <!-- ride dates -->
      <div class="my-container" style="padding: 0;">
        <div style="display: flex; flex-wrap: wrap;">
          <% ride.available_dates.split(', ').map { |el| el.to_date }.sort.each do |d| %>
            <p style="border-style: solid; border-width: 0; border-radius: 16px; font-size: 3vw; padding: 1vh 2vh; margin-left: 4px; color: white; background-color: #00917C; font-weight: bolder; box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);">
              <%= d.strftime('%e %B %Y') %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script>
  function changeBookmark(_this) {
    const location = window.location.href; //change location for production => https://www.readtoremember.xyz/highlights/favorites
    if (location == 'http://localhost:3000/users/bookmarks') {
      const id = _this.id.replace('b-', '');
      document.getElementById('ride-' + id).remove();
    } else {
      if (_this.classList.contains('far')) {
        _this.classList.remove('far');
        _this.classList.add('fas');
        _this.title = 'Unbookmark';
      } else {
        _this.classList.remove('fas');
        _this.classList.add('far');
        _this.title = 'Bookmark';
      }
    }
  }
</script>
<!-- works good -->
