<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style='margin-top:24px;'>
  <div class="carousel-inner" style='border-radius: 16px; height: 148px; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);'>
    <% ride.photos.each_with_index do |photo, i| %>
      <div class="carousel-item <%= 'active' if i == 0 %>">
        <%= cl_image_tag photo.key, width: 315, height: 148, class: "" %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

<h5 style="font-size: 4vw; padding-left: 4px; padding-right: 4px; color: #333333;"><%= ride.title %>
  <%= link_to ride.user.name, user_path(ride.user), style: 'color: #00917C;' %>
    <% if @reviews %>
     <a id='reviews-btn' style="font-size: 3vw; margin: 2px; color: #00917C;"><%= ride.avg_rating %> (<%= pluralize ride.reviews.size, "review" %>)</a>
  <% end %>
</h5>
<!-- ride details -->
<div style='max-height: 62vh; overflow-y: scroll;'>
  <p style="font-size: 3vw; padding-left: 4px; color: #333333;"><%= ride.short_description %></p>
  <div class="card card-ride">
    <!-- location -->
    <div class='box'>
      <div class='line' style='top: 40%;'></div>
      <div class='row'>
        <div style='max-width: 45%; z-index: 2; display: flex; vertical-align: middle; padding-left: 4px;'>
          <p style="z-index: 2; border-style: solid; border-width: 0; border-radius: 16px; font-size: 3vw; padding: 1vh 2vh; color: white; background-color: #00917C; font-weight: bolder; box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);">
            <%= ride.start_location %>
          </p>
        </div>
        <div style='max-width: 45%; z-index: 2; display: flex; vertical-align: middle; padding-right: 4px;'>
          <p style="z-index: 2; border-style: solid; border-width: 0; border-radius: 16px; font-size: 3vw; padding: 1vh 2vh; color: white; background-color: #00917C; font-weight: bolder; box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);">
            <%= ride.end_location %>
          </p>
        </div>
      </div>
    </div>
    <!-- time box -->
    <div class='box'>
      <div class='line' style='top: 40%;'></div>
      <div class='row'>
        <p style="z-index: 2; border-style: solid; border-width: 0; border-radius: 16px; font-size: 3vw; padding: 1vh 3vh; margin-left: 4px; color: white; background-color: #00917C; font-weight: bolder; box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);">
          <%= ride.start_time.strftime("%H:%M") %></p>
        <p style="z-index: 2; border-style: solid; border-width: 0; border-radius: 16px; font-size: 3vw; padding: 1vh 3vh; margin-right: 4px; color: white; background-color: #00917C; font-weight: bolder; box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);">
          <%= ride.end_time.strftime("%H:%M") %>
        </p>
      </div>
    </div>
    <!-- difficulty -->
    <p style='margin: 0; padding: 0; font-size: 12px; padding-left: 4px; font-weight: 600;'>Difficulty: <%#= ride.difficulty %></p>
    <div class='box'>
      <div class='line' style="padding-left: 4px; padding-right: 4px;"></div>
      <div class='row' style="padding-left: 4px; padding-right: 4px;">
        <% ride.difficulty.to_i.times do |d| %>
          <div class='dot' style='background-color: #00917C'></div>
        <% end %>
        <% (5 - ride.difficulty.to_i).times do |d| %>
          <div class='dot'></div>
        <% end %>
      </div>
    </div>
    <!-- number of people -->
    <br>
    <p style='margin: 0; padding: 0; font-size: 12px; padding-left: 4px; font-weight: 600'>Number of people: </p>
    <div class='box'>
      <div class='line' ></div>
      <div class='row' style="padding-left: 4px; padding-right: 4px;">
         <% ride.number_of_people.to_i.times do |d| %>
          <div class='dot' style='background-color: #00917C'></div>
        <% end %>
        <% (5 - ride.number_of_people.to_i).times do |d| %>
          <div class='dot'></div>
        <% end %>
      </div>
    </div>
    <!-- available dates -->
    <% if ride.valid_dates.present? %>
      <p style='margin: 0; padding: 12px 0; font-size: 12px; padding-left: 4px; font-weight: 600;'>Dates:</p>
      <div class="my-container" style="padding: 0;">
        <div style="display: flex; flex-wrap: wrap;">
          <% ride.valid_dates.each do |d| %>
            <p style="border-style: solid; border-width: 0; border-radius: 16px; font-size: 3vw; padding: 1vh 2vh; margin-left: 4px; color: white; background-color: #00917C; font-weight: bolder; box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);">
              <%= d.strftime('%e %B %Y') %>
            </p>
          <% end %>
        </div>
      </div>
    <% else %>
      <% if ride.user == current_user %>
        <p>Please update your ride </p>
      <% else %>
        <p></p>
      <% end %>
    <% end %>
    <br>
    <!-- btns -->
    <div class='btn-box' style='display: flex; justify-content: center;'>
      <% if policy(ride).edit? %>
        <%= link_to 'Edit', edit_ride_path(ride), class: 'brown-btn' %>
      <% end %>
      <% if policy(ride).destroy? %>
        <%= link_to "Delete", ride, method: :delete, data: {confirm: "Are you sure?"}, class: 'brown-btn' %>
      <% end %>
    </div>
    <!-- request form -->
    <% if current_user.id != ride.user_id && @av_dates.present? %>
      <div class='btn-box' style='display: flex; justify-content: center;'>
        <a id='request-btn'>I want to go</a>
      </div>
    <% end %>
    <br id='request'>
  </div>
</div>

<div id='myForm' style='display: none;'>
  <br>
  <button id='closeBtn'><span aria-hidden="true">&times;</span></button>
  <div id='f-box' style="display:flex;justify-content: center; height: 156px; padding-top: 16px; width: 300px;">
    <%= simple_form_for(@request) do |f| %>
      <%= f.input :ride_date, label: false, collection: @av_dates, selected: @av_dates.first, input_html: { class: 'select2 re' } %>
      <%= f.hidden_field :recipient_id, :value => ride.user_id %>
      <%= f.hidden_field :ride_id, :value => ride.id %>
      <%= f.submit value="Send", class: "brown-btn2" %>
    <% end %>
  </div>
</div>

<div id='reviews' style='display: none;'>
  <br>
  <button id='closeReviews'><span aria-hidden="true">&times;</span></button>
  <div id='r-box' style="max-height: 400px; padding: 16px; width: 300px; overflow-y: scroll;">
     <h6 style="text-align: center; font-size: 16px; line-height: 3vh; padding-top: 0 !important; font-weight: 600;">Overall Rating</h6>
     <a id='reviews-btn' style="font-size: 5vw; margin: 13.5vh; color: #00917C; margin-bottom: 16px;"><%= ride.avg_rating %></a>
     <p style="font-size: 2vw; text-align: center; line-height: 3vh;">Based on 23 reviews</p>
     <% ride.reviews.each do |review| %>
      <div style="display: flex; justify-content: flex-start;">
        <%= cl_image_tag User.find(review.booking.participant).profile_photo.key, height: 25, width: 25, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38); margin: -3px 2px;" %>
        <p style="font-size: 12px; line-height: 3vh; padding-left: 2px;"><%= User.find(review.booking.participant).name %>,</p>
        <p style="font-size: 75%; padding-left: 2px; line-height: 3vh;"> <%= review.created_at.strftime('%e %B %Y')%>
        <% review.rating.times do %>
          <i style='color: #00917c;' class="fas fa-star"></i>
        <% end %>
      </div>
        <p style="padding-left: 36px; font-size: 12px;"><%= review.content %></p>
        <% end %>
        <br>
    </div>
  </div>
</div>
