
<div id='ride-<%= ride.id %>' class="rides <%= current_user.account.theme %>">
  <div style="display: flex; justify-content: space-between; align-items: center; position: relative; top: 165px; z-index: 1; width: 94%; right: -9px;">
    <div>
      <% if policy(ride).fav? %>
        <% if current_user.favorited?(ride) %>
          <%= link_to unfav_ride_path(ride), method: :put, remote: true do %>
            <i data-ride-id='b-<%= ride.id %>' title='Unbookmark' class='fas fa-bookmark r'></i>
          <% end %>
        <% else %>
          <%= link_to fav_ride_path(ride), method: :put, remote: true do %>
            <i title='Bookmark' class="far fa-bookmark r"></i>
          <% end %>
      <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to user_path(ride.user) do %>
        <%= cl_image_tag ride.user.profile_photo.key, height: 40, width: 40, crop: :fill, style: "border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to ride_path(ride) do %>
      <div class="card" style="border-radius: 16px; border: 0;">
        <%= cl_image_tag ride.photos.first.key, style: "border-radius: 16px; height: 40vw;"%>
      </div>
      <br>
      <div style="display: flex; justify-content: start;">
        <div style="display: flex; justify-content: start; color: #00917C; font-size: 12px;">
          <h5 class="r-h5 <%= current_user.account.theme %>"><%= ride.title[0..25] %></h5>
          <% if ride.reviews.present? %>
            <p class=""><%= ride.avg_rating %> (<%= pluralize ride.reviews.size, "review" %>)</p>
          <% end %>
        </div>
      </div>
        <p class="r-p <%= current_user.account.theme %>"><%= ride.short_description[0..200] %>...</p>

        <!-- ride dates -->
        <div class="my-container" style="padding: 0;">
          <div style="display: flex; flex-wrap: wrap;">
            <% ride.valid_dates.each do |d| %>
              <p style="border-style: solid; border-width: 0; border-radius: 16px; font-size: 3vw; padding: 1vh 2vh; margin-left: 4px; color: white; background-color: #00917C; font-weight: bolder; box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);">
                <%=  d.strftime('%d-%m-%Y')  %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
