<div class="container">
  <p><%= link_to "Add Ride", new_ride_path, class: "" %> </p>
  <% if @rides.empty? %>
    <p class="text-secondary"> You still don't have any bike rides</p>
  <% else %>
    <% @rides.each do |ride| %>
      <div class="card card-ride">
        <!-- photos -->
        <% ride.photos.each do |photo| %>
          <div>
            <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
          </div>
        <% end %>
        <h3><%= ride.title %></h3>
        <p><%= ride.difficulty %></p>
        <p><%= ride.short_description %></p>
        <p><%= ride.start_location %></p>
        <p><%= ride.end_location %></p>
        <p><%= ride.start_time.strftime("%H:%M") %></p>
        <p><%= ride.end_time.strftime("%H:%M") %></p>
        <p><%= ride.number_of_people %></p>
        <p><%= ride.duration %> h</p>

        <% if policy(ride).edit? %>
          <h6><%= link_to 'Edit', edit_ride_path(ride), class: "" %></h6>
        <% end %>
        <% if policy(ride).destroy? %>
          <h6><%= link_to "Delete", ride, class: "", method: :delete, data: {confirm: "Are you sure?"} %></h6>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
