<!DOCTYPE html>
<html>
  <head>
    <title>Cyclebuddiesberlin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

     <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="page-container" style="position: relative; min-height: 100vh;">
      <div id="content-wrap">
        <% if user_signed_in? %>
          <%= render 'shared/sidebar' %>
        <% end %>
        <%= render 'shared/flashes' %>
        <div class="container" style='padding: 34px 36px 0 36px;'>
          <%= yield %>
        </div>
      </div>
    </div>
    <%#= render "shared/footer" %>
  </body>
</html>
